apiVersion: apps/v1
kind: Deployment
metadata:
  name: victim-app
  labels:
    app: victim
spec:
  replicas: 1
  selector:
    matchLabels:
      app: victim
  template:
    metadata:
      labels:
        app: victim
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          resources:
            limits:
              # 64Mi is very small. Nginx will crash if we push it hard.
              memory: "64Mi"
              cpu: "100m"
          ports:
            - containerPort: 80